AI Agents/Calendar Agent.json
{
  "name": "Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        -32
      ],
      "id": "07a68792-9ee7-48ce-9869-c04502ee7b61",
      "name": "Telegram Trigger",
      "webhookId": "6504f724-4172-426e-b87f-e810012494f6",
      "credentials": {
        "telegramApi": {
          "id": "m28koPv0birDpF1Q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are an AI assistant that manages events in Google Calendar and generates confirmation or event list messages to be sent via Telegram.\n\nCurrent Date and Time : {{ $now }}\n\nAvailable Actions:\nCreate Event Node – Adds a new calendar event with summary, description, start/end time, location, and calendar selection. (Use “Create Event in Google Calendar” Tool)\n\nUpdate Event Node – Modifies details of an existing event (summary, description, time, attendees, or location). (Use “Update Event in Google Calendar” Tool)\n\nDelete Event Node – Permanently removes an event from Google Calendar. (Use “Delete Event in Google Calendar” Tool)\n\nFetch Events Node – Retrieves events from Google Calendar, optionally filtered by date, calendar, or status. (Use “Get Many Events in Google Calendar” Tool)\n\nBehavior Guidelines:\nUnderstand Intent – Determine if the user wants to create, update, delete, or fetch calendar events.\n\nExtract Details – From natural language, capture:\n\nSummary/Title (mandatory for create/update/delete)\n\nDescription, Date/Time, Location, Calendar Name, Attendees (optional)\n\nAction Execution:\n\nCreate Event: Directly create using Create Event Node.\n\nUpdate Event:\n\nFirst, use Fetch Events Node to get upcoming events.\n\nSearch for the matching event by title and/or time.\n\nIf a match is found → Get its Event ID and call Update Event Node.\n\nIf no match → Generate a “not found” message.\n\nDelete Event:\n\nSame as update → Fetch → Match → Delete with Event ID.\n\nGenerate Response Text:\n\nFor Create/Update/Delete → Generate a confirmation message.\n\nFor Fetch → Generate a formatted list of upcoming events with date, time, and status.\n\nIf event not found → Generate a “not found” message.\n\nClarification: If multiple events match, ask the user to specify which one by date/time.\n\nOnly output text responses (to be sent later via Telegram); do not send messages directly.\n\n✅ Examples of Generated Responses\nCreate: “✅ Event ‘Team Meeting’ scheduled for Aug 5th, 3–4 PM.”\n\nUpdate:\n\n(Found) → “✏️ Event ‘Project Kickoff’ updated to Aug 10th, 2 PM.”\n\n(Not Found) → “⚠️ I couldn’t find an event named ‘Project Kickoff’. Please check the details.”\n\nDelete:\n\n(Found) → “🗑️ Event ‘Doctor Appointment’ has been deleted.”\n\n(Not Found) → “⚠️ No event found with the name ‘Doctor Appointment’.”\n\nFetch:\nYour upcoming events:\n1️⃣ Team Meeting – Aug 5th, 3–4 PM\n2️⃣ Client Call – Aug 6th, 11 AM"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        144,
        -32
      ],
      "id": "ca1cc51b-814f-4832-a27e-e1385dba3f02",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        192
      ],
      "id": "85336272-aef8-4711-80e7-13fb9e7fe0a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EMCUvlpjuO2tkJu7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        48,
        192
      ],
      "id": "7d931071-5578-41ab-b878-b6040ec6958f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "developwithlakshay@gmail.com",
          "mode": "list",
          "cachedResultName": "developwithlakshay@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        176,
        192
      ],
      "id": "757b066d-2b32-4433-b5b3-c072c8799782",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MM3Clo2kRzaez8VS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "developwithlakshay@gmail.com",
          "mode": "list",
          "cachedResultName": "developwithlakshay@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        304,
        192
      ],
      "id": "2c986792-65de-4134-92b8-9710eab336fd",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MM3Clo2kRzaez8VS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        432,
        192
      ],
      "id": "8ce157ed-e62e-4544-8d01-fea171b03a84",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MM3Clo2kRzaez8VS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "developwithlakshay@gmail.com",
          "mode": "list",
          "cachedResultName": "developwithlakshay@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        560,
        192
      ],
      "id": "18562e80-f0ce-4c43-8356-0ebd100446e5",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MM3Clo2kRzaez8VS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        -32
      ],
      "id": "e8f5de42-8459-4759-8880-e532f86cb27c",
      "name": "Send a text message",
      "webhookId": "b89019dc-516d-40f9-aa3b-fb366b767053",
      "credentials": {
        "telegramApi": {
          "id": "m28koPv0birDpF1Q",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04efdc90-349f-49f7-bef8-ba7a8fc93593",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5eb32f940e5aa1e6cc5a15b962ef59186c711434746b1e6835bc7518afd86f4a"
  },
  "id": "RfpNM2YcbsyZqdkb",
  "tags": [
    {
      "createdAt": "2025-08-03T16:34:40.971Z",
      "updatedAt": "2025-08-03T16:34:40.971Z",
      "id": "OBF6pBX980k2Dt2t",
      "name": "Agent"
    },
    {
      "createdAt": "2025-08-04T13:44:21.446Z",
      "updatedAt": "2025-08-04T13:44:21.446Z",
      "id": "UkfTD8JknWlpUyhc",
      "name": "Calendar Agent"
    }
  ]
}