AI Agents/Personal Assistant.json
{
  "name": "Personal Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        80
      ],
      "id": "528b9366-ddc0-4770-9327-a00a6739278d",
      "name": "Telegram Trigger",
      "webhookId": "08b403af-9734-4cb0-96f1-db0531b3b685",
      "credentials": {
        "telegramApi": {
          "id": "m28koPv0birDpF1Q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a personal assistant that helps user to fulfill their requests.\n\nWhen you asked to perform a task on the current date, please use the current date and time :  {{ $now }}\n\n## Ouput \n\nYou should output the result and don't include anything unnecessary. Just make sure that you politely answer user question and ask if any other information is required.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        496,
        -96
      ],
      "id": "1efd21b3-ea9d-4397-b29f-01b9a04e424b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        160
      ],
      "id": "f473c624-d6ed-4c21-bc78-f01df966797b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ADyr3RN78MImJXka",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        160
      ],
      "id": "ea370c36-c59b-4b95-9303-fd8670327fd7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a0b9d6d-8c4d-4104-b752-7dcc8aad43fa",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "7a5d7552-c9f2-4e84-9209-2df4f5b09dd7",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -96
      ],
      "id": "d487fcc4-dcd5-40fc-afaa-2369aacff657",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -96
      ],
      "id": "049c8ddc-5e70-440c-9d97-70c48fb909ee",
      "name": "Send a text message",
      "webhookId": "2acdff46-84ab-4619-9d47-4f062980c40f",
      "credentials": {
        "telegramApi": {
          "id": "m28koPv0birDpF1Q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "fbcb4b06-79db-4b55-a45e-19870608e35f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a64fb5a0-ced9-417b-8b1f-b007350bfa75",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "data"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        48,
        80
      ],
      "id": "3a26631f-fc38-48ba-ba10-1ec13f90efe8",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        320
      ],
      "id": "d8d02280-4acd-4ac2-a4f7-68e04309684a",
      "name": "Get a file",
      "webhookId": "87ca0101-5d0f-467a-8b08-6a89b42f8f3f",
      "credentials": {
        "telegramApi": {
          "id": "m28koPv0birDpF1Q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        160
      ],
      "id": "743db29e-5153-489c-809a-82ae87bf941c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EMCUvlpjuO2tkJu7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "Hello! How can I assist you today?"
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "218cf0f9-27f9-420e-a04e-d35f018483a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5eb32f940e5aa1e6cc5a15b962ef59186c711434746b1e6835bc7518afd86f4a"
  },
  "id": "XXaAFmKgnFnmU2Tm",
  "tags": [
    {
      "createdAt": "2025-08-03T08:36:00.285Z",
      "updatedAt": "2025-08-03T08:36:00.285Z",
      "id": "4U6LY2KI6a8jMDiK",
      "name": "Assistant"
    },
    {
      "createdAt": "2025-08-03T08:35:56.542Z",
      "updatedAt": "2025-08-03T08:35:56.542Z",
      "id": "EeJemjL0OJrgIhvM",
      "name": "Telegram"
    }
  ]
}